body {
  /*background-color: #21263a;*/
  background-image: url("/images/galaxy.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.wrapper {
  background-image: url("http://i.imgur.com/Y1nHV8H.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.navbar-inverse .navbar-brand {
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 21px;
}

header {
  text-align: center;
  color: #FFFFFF;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

.ltgray {
  color: #d3d3d3;
}

.red {
  color: #c0392b;
}

.blue {
  color: #2980b9;
}

.yellow {
  color: yellow;
}

.navbar-inner {
    background: transparent;
    border: none;
}

.square {
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  opacity: 0;
}

.overlay:hover {
  opacity: 0.9;
}

.overlay-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow: auto;
}

.overlay-center p {
  margin: 0;
  padding: 20px;
}

.icon-button {
  border: none;
  background: transparent;
  padding: 2px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.avatar-position {
  margin-bottom: -60px;
}
.score-background {
  background-color: #817a7a;
  border: solid #676161 1px;
  border-top: none;
  border-bottom-right-radius: 4px;
}

.likes-background {
  background-color: #817a7a;
  border: solid #676161 1px;
  border-top: none;
  border-bottom-left-radius: 4px;
}

.user-container {
  padding-top: 60px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.avatar-background {
  padding: 10px;
  margin-bottom: -20px;
  background-color: #efefef;
  border: solid #bfbcbc 1px;
}

.like-and-score-font {
  font-size: 1.4em;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    margin-right:-4px;
}

.like-col-centered {
    display:inline-block;
    float:none;
    margin-right:-2px;
}

.score-col-centered {
    display:inline-block;
    float:none;
    margin-right:-2px;
    right: 2px;
}
