<div>
  <% @articles.each do |article| %>
    <div>
      <h1><%= article.title %></h1>
      <p><img src="<%= article.image %>">
      <span class="glyphicon glyphicon-heart"></span>
    </div>
  <% end %>
</div>