<div class="row ltgray">
  <div class='col-md-6 col-md-offset-3'>
    <h1>Post An Article</h1>
    <p>Enter the URL for the article that you would like to share.</p>
    <form role="form" method="post" action="/articles">
      <div class="form-group">
        <label for="url">URL:</label>
        <input type="text" class="form-control" id="url" name="url" placeholder="http://www.example.com">
      </div>
      <button class="btn btn-info">Submit</button>
    </form>
  </div>
</div>