<div>
  <h1>Post An Article</h1>
  <form class="form-horizontal" method="post" action="/articles">
    <div class="form-group">
      <label for="title" class="col-md-1 control-label">Title:</label>
      <div class="col-md-8">
        <input type="text" class="form-control" id="title" name="article[title]" placeholder="Article title">
      </div>
    </div>
    <div class="form-group">
      <label for="url" class="col-md-1 control-label">URL:</label>
      <div class="col-md-8">
        <input type="url" class="form-control" id="url" name="article[url]" placeholder="Article URL">
      </div>
    </div>
    <div class="form-group">
      <label for="image" class="col-md-1 control-label">Image:</label>
      <div class="col-md-8">
        <input type="url" class="form-control" id="image" name="article[image]" placeholder="Image URL">
      </div>
    </div>
    <div class="form-group">
      <label for="summary" class="col-md-1 control-label">Summary:</label>
      <div class="col-md-8">
        <textarea class="form-control" id="summary" name="article[summary]" placeholder="Summary"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-1 col-md-10">
        <button type="submit" class="btn btn-default btn-info">Post</button>
      </div>
    </div>
  </form>
</div>