body {
  background-color: #222222;
/*  background-image: url("http://i.imgur.com/Y1nHV8H.gif");*/
  /*http://stormandsky.com/gif/3.gif*/
/*  background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  background-attachment: fixed;*/
}

.ltgray {
  color: #d3d3d3;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.navbar-inner {
    background: transparent;
    /*background-color: #000000;*/
    border: none;
}

.square {
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  opacity: 0;
}

.overlay:hover {
  opacity: 0.8;
}

.overlay-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow: auto;
}

.overlay-center p {
  margin: 0;
  padding: 20px;
}

.icon-button {
  border: none;
  background: transparent;
  padding: 2px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-avatar {
  margin-top: 15px;
}