<form method="post" action="/users/signin/test">
  <input type="hidden" name="user_id" value="1" />
  <button>User ID: 1</button>
</form>

<form method="post" action="/users/signin/test">
  <input type="hidden" name="user_id" value="2" />
  <button>User ID: 2</button>
</form>

<form method="post" action="/users/signin/test">
  <input type="hidden" name="user_id" value="3" />
  <button>User ID: 3</button>
</form>

<div class="container ltgray">
  <h1>Sign In</h1>

  <form role="form" method="post" action="/users/signin">
    <div class="form-group">
      <label for="email">Email: </label>
      <input class="form-control" id="email" name="email" />
    </div>
    <div class="form-group">
      <label for="password">Password: </label>
      <input class="form-control" type="password" id="password" name="password" />
    </div>
    <div>
      <button class="btn btn-success">Sign in</button>
    </div>
  </form>

</div>
