<form method="post" action="/users/signin">
  <input type="hidden" name="user_id" value="1" />
  <button>User ID: 1</button>
</form>

<form method="post" action="/users/signin">
  <input type="hidden" name="user_id" value="2" />
  <button>User ID: 2</button>
</form>

<form method="post" action="/users/signin">
  <input type="hidden" name="user_id" value="3" />
  <button>User ID: 3</button>
</form>