{% extends "posting_wall/base.html" %}

{% block content %}

{% if form.errors %}
  <div class="alert alert-warning" role="alert">Your username and password did not match. Please try again.</div>
{% endif %}

<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome Back!</div>
      <div class="intro-heading">Sign-In</div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <form method="post" action="/accounts/login/">
          {% csrf_token %}
          {% include "partials/form.html"%}
          <input type="submit" value="login" />
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
      </div>
    </div>
  </div>
</header>
{% endblock %}
