<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/stylesheets/application.css" />
  <script src="/javascript/jquery.js"></script>
  <script src="/bootstrap/js/bootstrap.js"></script>
  <script src="/javascript/application.js"></script>
  <title></title>
</head>
<body>
<div class="container">
  <ul class="nav nav-pills nav-justified">
    <% if current_user %>
    <li role="username"><a href="#"><%= current_user.username %></a></li>
    <li role="all_articles"><a href="/articles">All Articles</a></li>
    <li role="new_article"><a href="/articles/new">New Article</a></li>
    <li role="sign_out"><a href="/users/signout">Sign out</a></li>
    <% else %>
    <li role="sign_in"><a href="/users/signin">Sign in</a></li>
    <li role="all_articles"><a href="/articles">All Articles</a></li>
    <li role="sign_up"><a href="/users/new">Sign up</a></li>
    <% end %>
  </ul>
  <%= yield %>
</div>
</body>
</html>