{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static './bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static './bootstrap/css/bootstrap-theme.min.css' %}" />
    <link rel="stylesheet" href="{% static './stylesheets/application.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

    <script src="{% static './javascript/jquery-2.1.4.min.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>

    <script src="{% static './bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static './javascript/application.js' %}"></script>
    <title>Python Resource Wall</title>
  </head>
  <body>
    <nav class="navbar navbar-inner inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <i class="devicon-python-plain"></i> Python Resources
          </a>
        </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'post_new' %}"><span class="glyphicon glyphicon-file"></span> Add New Article</a></li>
              <li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
            {% else %}
            <!-- TODO: Add signup -->
              <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
              <li><a href="/accounts/login/"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
            {% endif %}
            </ul>
          </div>
      </div>
    </nav>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
